/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: #999;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #222;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
.entry-content a,
.page-content a {
	border-bottom: 2px solid transparent;
}
.entry-content a:hover,
.page-content a:hover {
	border-bottom: 2px solid #222;
}
.entry-content .read-more:hover {
	border-bottom-color: transparent;
}
a img {
	border: 0;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	background: #000;
	clear: both;
	display: block;
	padding: 0.8889em 0;
	width: 100%;

	ul {
		margin: 0;
	}
	ul li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding: 0;
	}
	ul li:last-child {
		border-bottom: none;
		padding-right: 0;
	}
	a {
		color: #fff;
		display: block;
		font-size: 15px;
		font-size: 1.5rem;
		line-height: 2;
		letter-spacing: .03em;
		padding: 0.3889em 0 0.3889em 1.5556em;
		text-decoration: none;
		text-transform: uppercase;
	}
	ul ul {
		display: block;
		list-style-type: disc;
		margin-left: 2.5em;
	}
	ul ul li {
		border-bottom: none;
		padding: 0;
	}
	ul ul ul {
		left: -999em;
		top: 0;
	}
	ul ul a {
		color: rgba(255, 255, 255, 0.6);
		font-size: 12px;
		font-size: 1.2rem;
	}
	ul ul :hover > a,
	ul > .focus > a {
		color: rgba(255, 255, 255, 1);
	}
	ul li:hover > ul,
	ul li.focus > ul {
		left: auto;
	}
	ul ul li:hover > ul,
	ul ul li.focus > ul {
		left: 100%;
	}

	// Small menu (default).
	&.toggled .nav-menu {
		display: block;
		width: 100%;
	}
	ul {
		display: none;
	}
}

/* Small menu. */
.menu-toggle {
	color: #fff;
	display: block;
	margin: 0 auto;

	&::before {
		border: none;
		content: '\f419';
		display: inline-block;
		padding-right: 8px;
		font-family: "Genericons";
		font-weight: normal;
		font-style: normal;
		vertical-align: top;
	}
	&:hover {
		border-color: #fff;
		color: #fff;
		opacity: 0.7;
	}
}

/* Posts, comments navigation */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	color: #999;
	font-size: 16px;
	font-size: 1.6rem;
	margin: 4.5714em auto;
	text-align: center;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	margin-bottom: 1.7778em;
}
.post-navigation .nav-previous:before {
	content: "\00ab";
	margin-right: 5px;
}
.post-navigation .nav-next:after {
	content: "\00bb";
	margin-left: 5px;
}

// Media queries.
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

@media screen and ( min-width: 768px ) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		padding: 0;
	}
	.main-navigation ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
	}
	.main-navigation ul li {
		border-bottom: none;
		display: inline-block;
		padding: 0.75em 1em 0.75em 0;
		position: relative;
	}
	.main-navigation a {
		padding: 0.8889em 0;
	}
	.nav-menu > li > a:after {
		color: #fff;
		content: " \2022";
		margin-left: 1em;
		opacity: 0.3;
	}
	.nav-menu > li:last-child > a:after {
		display: none;
	}
	.main-navigation ul ul {
		background: #222;
		float: left;
		margin: 0;
		position: absolute;
		top: 100%;
		left: -999em;
		text-align: left;
		z-index: 99999;
	}
	.main-navigation ul ul li {
		border-bottom: 1px solid rgba(255, 2555, 255, 0.1);
	}
	.main-navigation ul ul a {
		padding: 1em 2em;
		width: 220px;
	}
	.main-navigation div>ul>li>ul::before {
		border-color: transparent transparent #222;
		border-style: solid;
		border-width: 6px 6px 8px;
		content: "";
		position: absolute;
		top: -13px;
		left: 20px;
	}
}
